
body,html {
    background-image: url('https://cdn.discordapp.com/attachments/1089013690566717551/1156035453347176448/2023_09_25_0zb_Kleki.png?ex=6513816a&is=65122fea&hm=b0eee9806f3ca7d16b30dccafc11a4170cab68a7782c02882a41271e003ec2a1&'); 
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 10rem;
    color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.card {
    
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 15%;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    margin: 3%;

}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/*Fire */
.card.fire:hover {
    background-color: #FF7F50; 
    color: #FFF; 
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

/* Water */
.card.water:hover {
    background-color: #4682B4; 
    color: #FFF; 
    transform: translate3d(12px, 50%, 3em);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

/* Earth */
.card.earth:hover {
    background-color: #8B4513; 
    color: #FFF; 
    transform: rotate(0.5turn);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

/* fairy */
.card.fairy:hover {
    background-color: palevioletred; 
    color: #FFF; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
    transform: skew(10deg, 10deg);
}

/* electric */
.card.electric:hover {
    background-color: #FFFF99; 
    color: #333; 
    transform: translate(5px,5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}
/* dragon */
.card.dragon:hover {
    background-color: #355E3B; 
    color: #333; 
    transform: rotate(20deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}
/* ghost */
.card.ghost:hover {
    background-color: black; 
    color: #333; 
    transform: scaleY(1.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}
/* ice */
.card.ice:hover {
    background-color:   #E4F6F8; 
    color: #333; 
    transform: skewY(20deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}
/* dark */
.card.dark:hover {
    background-color:   #242526; 
    color: #333; 
    animation: flip 6s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}
/* grass */
.card.grass:hover {
    background-color:   #cefad0; 
    color: #333; 
    animation: flip 6s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}
/* normal */
.card.normal:hover {
    background-color:   #008361; 
    color: #333; 
    animation: flip 6s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}
/* fight */
.card.fight:hover {
    background-color:   #595959; 
    color: #333; 
    animation: flip 6s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}
/* psychic */
.card.psychic:hover {
    background-color:   #D7BFDC; 
    color: #333; 
    animation: flip 6s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}







    @keyframes flip {
        25% {
            transform: rotate(180deg);}
        50%{
            transform: rotate(-180deg);}
        100%
            {transform: rotate(360deg);}
    }

    @media screen and (max-width: 1000px) {
        .card{
            width: 40%;
        }
        
    }
    @media screen and (max-width: 813px) {
        .card {
            width: 90%;
        }
        
    }
