.card{
    width: 27vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    size: 100cm;
    border-radius: 15px;
    border-color: black;
    

}

.flex-container {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.title{
    text-align: center;
    font-size: 300%;
}